python-dotenv
llama-index==0.9.47
openai==1.14.2
# faiss-cpu==1.7.4
numpy==1.26.0
pandas==2.1.1
pydantic==2.7.4
# llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
fuzzywuzzy
scikit-learn
# llama-index-embeddings-openai
# llama-index-embeddings-ollama
sentence-transformers